
.button-container {
    display: flex;
    justify-content: center;
}

.login-form{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-color: #F3F3F3;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin-top: 10px;
}

