.register{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-color: #F3F3F3;
}

form{
    background-color: white;
    padding: 10px 60px;
}

h1{
    text-align: center;
}

button{
    width: 300px;
}
